<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1,maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="demo">
    <meta name="keyword" content="demo">
    <title>PC端demo</title>
    <!--字体CSS-->
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/dist/sweetalert.css" rel="stylesheet" type="text/css">
    <link href="/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/MathPanel/mathquill-0.9.1/mathquill.css" rel="stylesheet" type="text/css">
    <link href="/css/pc/index.css" rel="stylesheet" type="text/css"/>
    <!-- 移动和PC 公共CSS -->
    <link href="/css/public.css" rel="stylesheet" type="text/css"/>
</head>
<svg class="hide">
    <defs id="MathJax_SVG_glyphs">
        <path stroke-width="1" id="MJMAIN-31"
              d="M213 578L200 573Q186 568 160 563T102 556H83V602H102Q149 604 189 617T245 641T273 663Q275 666 285 666Q294 666 302 660V361L303 61Q310 54 315 52T339 48T401 46H427V0H416Q395 3 257 3Q121 3 100 0H88V46H114Q136 46 152 46T177 47T193 50T201 52T207 57T213 61V578Z"></path>
        <path stroke-width="1" id="MJMAIN-2E"
              d="M78 60Q78 84 95 102T138 120Q162 120 180 104T199 61Q199 36 182 18T139 0T96 17T78 60Z"></path>
        <path stroke-width="1" id="MJMAIN-2C"
              d="M78 35T78 60T94 103T137 121Q165 121 187 96T210 8Q210 -27 201 -60T180 -117T154 -158T130 -185T117 -194Q113 -194 104 -185T95 -172Q95 -168 106 -156T131 -126T157 -76T173 -3V9L172 8Q170 7 167 6T161 3T152 1T140 0Q113 0 96 17Z"></path>
        <path stroke-width="1" id="MJMAIN-32"
              d="M109 429Q82 429 66 447T50 491Q50 562 103 614T235 666Q326 666 387 610T449 465Q449 422 429 383T381 315T301 241Q265 210 201 149L142 93L218 92Q375 92 385 97Q392 99 409 186V189H449V186Q448 183 436 95T421 3V0H50V19V31Q50 38 56 46T86 81Q115 113 136 137Q145 147 170 174T204 211T233 244T261 278T284 308T305 340T320 369T333 401T340 431T343 464Q343 527 309 573T212 619Q179 619 154 602T119 569T109 550Q109 549 114 549Q132 549 151 535T170 489Q170 464 154 447T109 429Z"></path>
        <path stroke-width="1" id="MJMAIN-33"
              d="M127 463Q100 463 85 480T69 524Q69 579 117 622T233 665Q268 665 277 664Q351 652 390 611T430 522Q430 470 396 421T302 350L299 348Q299 347 308 345T337 336T375 315Q457 262 457 175Q457 96 395 37T238 -22Q158 -22 100 21T42 130Q42 158 60 175T105 193Q133 193 151 175T169 130Q169 119 166 110T159 94T148 82T136 74T126 70T118 67L114 66Q165 21 238 21Q293 21 321 74Q338 107 338 175V195Q338 290 274 322Q259 328 213 329L171 330L168 332Q166 335 166 348Q166 366 174 366Q202 366 232 371Q266 376 294 413T322 525V533Q322 590 287 612Q265 626 240 626Q208 626 181 615T143 592T132 580H135Q138 579 143 578T153 573T165 566T175 555T183 540T186 520Q186 498 172 481T127 463Z"></path>
        <path stroke-width="1" id="MJMAIN-201C"
              d="M128 494Q128 528 137 560T158 616T185 658T209 685T223 694T236 685T245 670Q244 668 231 654T204 622T178 571T164 501Q164 489 165 489T170 491T183 497T201 500Q226 500 244 483T262 440T245 397T202 379Q173 379 151 405T128 494ZM332 494Q332 528 341 560T362 616T389 658T413 685T427 694T439 685T449 672Q449 669 437 656T411 625T383 573T368 501Q368 489 369 489T374 491T387 497T405 500Q430 500 448 483T466 440T449 397T406 379Q377 379 355 405T332 494Z"></path>
        <path stroke-width="1" id="MJMAIN-201D"
              d="M34 634Q34 659 50 676T93 694Q121 694 144 668T168 579Q168 525 146 476T101 403T73 379Q69 379 60 388T50 401Q50 404 62 417T88 448T116 500T131 572Q131 584 130 584T125 581T112 576T94 573Q69 573 52 590T34 634ZM238 634Q238 659 254 676T297 694Q325 694 348 668T372 579Q372 525 350 476T305 403T277 379Q273 379 264 388T254 401Q254 404 266 417T292 448T320 500T335 572Q335 584 334 584T329 581T316 576T298 573Q273 573 256 590T238 634Z"></path>
        <path stroke-width="1" id="MJMAIN-30"
              d="M96 585Q152 666 249 666Q297 666 345 640T423 548Q460 465 460 320Q460 165 417 83Q397 41 362 16T301 -15T250 -22Q224 -22 198 -16T137 16T82 83Q39 165 39 320Q39 494 96 585ZM321 597Q291 629 250 629Q208 629 178 597Q153 571 145 525T137 333Q137 175 145 125T181 46Q209 16 250 16Q290 16 318 46Q347 76 354 130T362 333Q362 478 354 524T321 597Z"></path>
        <path stroke-width="1" id="MJMAIN-38"
              d="M70 417T70 494T124 618T248 666Q319 666 374 624T429 515Q429 485 418 459T392 417T361 389T335 371T324 363L338 354Q352 344 366 334T382 323Q457 264 457 174Q457 95 399 37T249 -22Q159 -22 101 29T43 155Q43 263 172 335L154 348Q133 361 127 368Q70 417 70 494ZM286 386L292 390Q298 394 301 396T311 403T323 413T334 425T345 438T355 454T364 471T369 491T371 513Q371 556 342 586T275 624Q268 625 242 625Q201 625 165 599T128 534Q128 511 141 492T167 463T217 431Q224 426 228 424L286 386ZM250 21Q308 21 350 55T392 137Q392 154 387 169T375 194T353 216T330 234T301 253T274 270Q260 279 244 289T218 306L210 311Q204 311 181 294T133 239T107 157Q107 98 150 60T250 21Z"></path>
        <path stroke-width="1" id="MJMAIN-25"
              d="M465 605Q428 605 394 614T340 632T319 641Q332 608 332 548Q332 458 293 403T202 347Q145 347 101 402T56 548Q56 637 101 693T202 750Q241 750 272 719Q359 642 464 642Q580 642 650 732Q662 748 668 749Q670 750 673 750Q682 750 688 743T693 726Q178 -47 170 -52Q166 -56 160 -56Q147 -56 142 -45Q137 -36 142 -27Q143 -24 363 304Q469 462 525 546T581 630Q528 605 465 605ZM207 385Q235 385 263 427T292 548Q292 617 267 664T200 712Q193 712 186 709T167 698T147 668T134 615Q132 595 132 548V527Q132 436 165 403Q183 385 203 385H207ZM500 146Q500 234 544 290T647 347Q699 347 737 292T776 146T737 0T646 -56Q590 -56 545 0T500 146ZM651 -18Q679 -18 707 24T736 146Q736 215 711 262T644 309Q637 309 630 306T611 295T591 265T578 212Q577 200 577 146V124Q577 -18 647 -18H651Z"></path>
        <path stroke-width="1" id="MJMAIN-35"
              d="M164 157Q164 133 148 117T109 101H102Q148 22 224 22Q294 22 326 82Q345 115 345 210Q345 313 318 349Q292 382 260 382H254Q176 382 136 314Q132 307 129 306T114 304Q97 304 95 310Q93 314 93 485V614Q93 664 98 664Q100 666 102 666Q103 666 123 658T178 642T253 634Q324 634 389 662Q397 666 402 666Q410 666 410 648V635Q328 538 205 538Q174 538 149 544L139 546V374Q158 388 169 396T205 412T256 420Q337 420 393 355T449 201Q449 109 385 44T229 -22Q148 -22 99 32T50 154Q50 178 61 192T84 210T107 214Q132 214 148 197T164 157Z"></path>
        <path stroke-width="1" id="MJMAIN-2212"
              d="M84 237T84 250T98 270H679Q694 262 694 250T679 230H98Q84 237 84 250Z"></path>
        <path stroke-width="1" id="MJMAIN-37"
              d="M55 458Q56 460 72 567L88 674Q88 676 108 676H128V672Q128 662 143 655T195 646T364 644H485V605L417 512Q408 500 387 472T360 435T339 403T319 367T305 330T292 284T284 230T278 162T275 80Q275 66 275 52T274 28V19Q270 2 255 -10T221 -22Q210 -22 200 -19T179 0T168 40Q168 198 265 368Q285 400 349 489L395 552H302Q128 552 119 546Q113 543 108 522T98 479L95 458V455H55V458Z"></path>
        <path stroke-width="1" id="MJMAIN-34"
              d="M462 0Q444 3 333 3Q217 3 199 0H190V46H221Q241 46 248 46T265 48T279 53T286 61Q287 63 287 115V165H28V211L179 442Q332 674 334 675Q336 677 355 677H373L379 671V211H471V165H379V114Q379 73 379 66T385 54Q393 47 442 46H471V0H462ZM293 211V545L74 212L183 211H293Z"></path>
        <path stroke-width="1" id="MJMAIN-3A"
              d="M78 370Q78 394 95 412T138 430Q162 430 180 414T199 371Q199 346 182 328T139 310T96 327T78 370ZM78 60Q78 84 95 102T138 120Q162 120 180 104T199 61Q199 36 182 18T139 0T96 17T78 60Z"></path>
        <path stroke-width="1" id="MJMAIN-22"
              d="M34 634Q34 659 50 676T93 694Q121 694 144 668T168 579Q168 525 146 476T101 403T73 379Q69 379 60 388T50 401Q50 404 62 417T88 448T116 500T131 572Q131 584 130 584T125 581T112 576T94 573Q69 573 52 590T34 634ZM238 634Q238 659 254 676T297 694Q325 694 348 668T372 579Q372 525 350 476T305 403T277 379Q273 379 264 388T254 401Q254 404 266 417T292 448T320 500T335 572Q335 584 334 584T329 581T316 576T298 573Q273 573 256 590T238 634Z"></path>
        <path stroke-width="1" id="MJMAIN-28"
              d="M94 250Q94 319 104 381T127 488T164 576T202 643T244 695T277 729T302 750H315H319Q333 750 333 741Q333 738 316 720T275 667T226 581T184 443T167 250T184 58T225 -81T274 -167T316 -220T333 -241Q333 -250 318 -250H315H302L274 -226Q180 -141 137 -14T94 250Z"></path>
        <path stroke-width="1" id="MJMAIN-29"
              d="M60 749L64 750Q69 750 74 750H86L114 726Q208 641 251 514T294 250Q294 182 284 119T261 12T224 -76T186 -143T145 -194T113 -227T90 -246Q87 -249 86 -250H74Q66 -250 63 -250T58 -247T55 -238Q56 -237 66 -225Q221 -64 221 250T66 725Q56 737 55 738Q55 746 60 749Z"></path>
        <path stroke-width="1" id="MJMAIN-2B"
              d="M56 237T56 250T70 270H369V420L370 570Q380 583 389 583Q402 583 409 568V270H707Q722 262 722 250T707 230H409V-68Q401 -82 391 -82H389H387Q375 -82 369 -68V230H70Q56 237 56 250Z"></path>
        <path stroke-width="1" id="MJMAIN-3F"
              d="M226 668Q190 668 162 656T124 632L114 621Q116 621 119 620T130 616T145 607T157 591T162 567Q162 544 147 529T109 514T71 528T55 566Q55 625 100 661T199 704Q201 704 210 704T224 705H228Q281 705 320 692T378 656T407 612T416 567Q416 503 361 462Q267 395 247 303Q242 279 242 241V224Q242 205 239 202T222 198T205 201T202 218V249Q204 320 220 371T255 445T292 491T315 537Q317 546 317 574V587Q317 604 315 615T304 640T277 661T226 668ZM162 61Q162 89 180 105T224 121Q247 119 264 104T281 61Q281 31 264 16T222 1Q197 1 180 16T162 61Z"></path>
    </defs>
</svg>
<body class="clearfix">
<!-- 中间内容区域 -->
<div class="container-main" id="containerMain">
    <div class="container-svg" id="containerSvg">
        <% for(var p in work) { %>
        <% if(work[p].type == 1){ %>
        <svg id="box_<%= work[p].chapter %>" class="mainSvg">
            <%- work[p].content %>
        </svg>
        <% }else{ %>
        <div id="box_<%= work[p].chapter %>" class="mainDiv">
            <%- work[p].content %>
        </div>
        <% } %>
        <% } %>

    </div>
</div>
<!-- 操作区域 -->
<div class="control-box">
    <div id="jia"><img src="/image/jia.png"/></div>
    <div id="notes">笔记</div>
    <div id="fluorescentPen">荧光笔</div>
    <div id="drawLine">标注</div>
    <div id="directory" title="隐藏右边目录">隐藏</div>
</div>
<!-- 选择颜色 -->
<div class="select-color" id="selectColor">
    <div class="tkm-triangle"></div>
    <div class="tkm-triangle-colors-div">
        <div class="tkm-title">color:</div>
        <div class="tkm-color-menu">
            <i class="tkm-color-option bgcolor-C0504D"></i>
            <i class="tkm-color-option bgcolor-4F81BD"></i>
            <i class="tkm-color-option bgcolor-9BBB59"></i>
            <i class="tkm-color-option bgcolor-8064A2"></i>
            <i class="tkm-color-option bgcolor-F79646"></i>
            <i class="tkm-color-option bgcolor-000000"></i>
        </div>
    </div>
</div>
<!-- 加载提示 -->
<div id="resourcewaiting">
    <span class="icon"></span>
    <span class="label">资源加载中...</span>
</div>
<!--  笔记框遮罩 -->
<div class="modal-mark" id="modalMark"></div>
<!--写笔记框-->
<div class="mark" id="mark"><a href="javascript:void(0)" class="js_close" id="js_close"></a>
    <div id="r22" class="r2">添加评注</div>
    <div class="mark-title">
        <div class="mock-tip">标题</div>
        <div class="mock-txt" contenteditable="true" id="mockTxtTitle"></div>
        <div class="mock-tip">笔记内容</div>
    </div>
    <div class="mark-content">

        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
            <div class="btn-group"><a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i
                            class="icon-font"></i><b class="caret"></b></a>
                <ul class="dropdown-menu">
                </ul>
            </div>
            <div class="btn-group"><a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                            class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                </ul>
            </div>
            <div class="btn-group"><a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i
                            class="icon-bold"></i></a> <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                            class="icon-italic"></i></a> <a class="btn" data-edit="strikethrough" title="Strikethrough"><i
                            class="icon-strikethrough"></i></a> <a class="btn" data-edit="underline"
                                                                   title="Underline (Ctrl/Cmd+U)"><i
                            class="icon-underline"></i></a></div>
            <div class="btn-group"><a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i
                            class="icon-list-ul"></i></a> <a class="btn" data-edit="insertorderedlist"
                                                             title="Number list"><i class="icon-list-ol"></i></a> <a
                        class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i
                            class="icon-indent-left"></i></a> <a class="btn" data-edit="indent" title="Indent (Tab)"><i
                            class="icon-indent-right"></i></a></div>
            <div class="btn-group"><a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i
                            class="icon-align-left"></i></a> <a class="btn" data-edit="justifycenter"
                                                                title="Center (Ctrl/Cmd+E)"><i
                            class="icon-align-center"></i></a> <a class="btn" data-edit="justifyright"
                                                                  title="Align Right (Ctrl/Cmd+R)"><i
                            class="icon-align-right"></i></a> <a class="btn" data-edit="justifyfull"
                                                                 title="Justify (Ctrl/Cmd+J)"><i
                            class="icon-align-justify"></i></a></div>
            <div class="btn-group"><a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i
                            class="icon-link"></i></a>
                <div class="dropdown-menu input-append">
                    <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                    <button class="btn" type="button">Add</button>
                </div>
                <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a></div>
            <div class="btn-group"><a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i
                            class="icon-picture"></i></a>
                <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage"/>
            </div>
            <div class="btn-group"><a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i
                            class="icon-undo"></i></a> <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i
                            class="icon-repeat"></i></a></div>
            <div class="btn-group ediatian" id="oclick">
                <a class="btn dropdown-toggle" data-toggle="dropdown" title="数学符号">
                    <i class="icon-jme"></i>&nbsp;<b class="caret"></b>
                </a>
                <ul class="dropdown-menu" id="mathli">
                    <li><a data-edit="fontSize 5"><font size="5">常用公式</font></a></li>
                    <li><a data-edit="fontSize 3"><font size="3">特殊字母</font></a></li>
                    <li><a data-edit="fontSize 1"><font size="1">运算符号</font></a></li>
                </ul>
                <div class="dropdown-menu tabContent">
                    <!--常用公式标签项-->
                    <div class="mathBox"></div>
                    <!--特殊字母标签项-->
                    <div class="mathBox" style="display:none"></div>
                    <!--运算符号标签项-->
                    <div class="mathBox" style="display:none"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="r1">
        <div id="editor"></div>
        <a class="addbtn" href="javascript:void(0)" id="addbtn"> <span class="rb1">发布</span> </a>
        <button type="button" class="btn btn-primary queen" id="queen">确定</button>
        <button type="button" class="btn btn-primary " id="fremove">删除评注</button>
    </div>
</div>
<!-- 右边笔记框 -->
<div id="booknoteBox">
    <div class="reading_mode">
        <div class="row">
            <div class="col-xs-4 distribution cur">全文阅读</div>
            <div class="col-xs-4 distribution">分页阅读</div>
            <div class="col-xs-4"><a href="/bookContent">退出阅读</a></div>
        </div>
    </div>
    <div class="bituise">
        <div class="bituise_list" id="bituise_list">
            <div class="list pull-left  active">
                <a href="javascript:void(0)" class="mybiji">我的笔记</a>
            </div>
            <div class="list pull-left list_border">
                <a href="javascript:void(0)" class="tuijian">推荐资源</a>
            </div>
            <div class="list pull-left">
                <a href="javascript:void(0)" class="shezhi">系统设置</a>
            </div>
        </div>
        <div class="rcontent" id="bituise_rcontent">
            <div class="main" style="display: block;">
                <div class="bz_head clearfix" id="bz_head">
                    <!--<span class="order cur" id="bookorder" title="排列顺序">书</span><span>排列顺序</span>-->
                    <span class="order cur pull-left" id="allbz" title="全部笔记">全</span>
                    <span class="order pull-left" id="shareNotesBtn" title="分享笔记">分</span>
                    <span class="order pull-left" id="LookNotesBtn" title="查看别人给我分享的笔记">查</span>
                </div>
                <ul id="overview" class="overview">
                </ul>
            </div>
            <div class="main" id="recommendedcontent">
                <ul></ul>
            </div>
            <div class="main">
                <div class="bz_setting" id="showHideLine">隐藏标注</div>
                <div class="bz_setting" id="showHidePen">隐藏荧光笔</div>
                <div class="bz_setting" id="showHideNotes">隐藏笔记</div>
            </div>
        </div>
    </div>
    <div class="allpingzhu" id="allpingzhu">
        <div class="booknote-title">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
            笔记
        </div>
        <div class="booknote-container">
            <div class="viewport" id="viewport">
                <ul class="overview" id="alloverview"></ul>
                <div class="scroll_bar" id="scroll_bar"></div>
            </div>
        </div>
    </div>
    <!-- 分布翻滚按钮 -->
    <div class="fb_button" id="fb_button">
        <div class="previous-arrow" id="left-cover"><span class="glyphicon glyphicon-menu-left"></span></div>
        <div class="next-arrow" id="right-cover"><span class="glyphicon glyphicon-menu-right"></span></div>
    </div>
</div>
<!--登录Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header hide">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">用户登录</h4>
            </div>
            <div class="modal-body">
                <img class="center-block" src="/image/VE_logo.jpg" alt="思米教育">
                <label class="login-field"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <input type="text" id="login_email" class="form-control" name="email" placeholder="手机号/用户名/邮箱"
                           tabindex="0">
                </label>
                <label class="login-field"> <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    <input type="password" id="login_password" class="form-control" name="password" placeholder="密码">
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" id="spellzc">快速注册</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="login">登录</button>
            </div>
        </div>
    </div>
</div>
<!--注册Modal -->
<div class="modal fade" id="submitLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">用户注册</h4>
            </div>
            <div class="modal-body"><img src="/image/VE_logo.jpg" class="center-block" alt="思米教育">
                <div class="login-field"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <input type="text" id="submitLogin_email" class="form-control" name="email"
                           placeholder="手机号/用户名/邮箱">
                </div>
                <div class="login-field"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <input type="text" id="submitLogin_nc" class="form-control" name="email" placeholder="昵称">
                </div>
                <div class="login-field"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    <input type="password" id="submitLogin_password" class="form-control" name="password"
                           placeholder="密码">
                </div>
                <div class="login-field"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    <input type="password" id="submitLogin_repassword" class="form-control" name="password"
                           placeholder="请再一次输入密码">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" id="spelldl">快速登录</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="submitLogin">注册</button>
            </div>
        </div>
    </div>
</div>
<!-- 笔记弹出框 -->
<div class="note-markzs" id="noteMarkzs">
    <div class="tkm-triangle"></div>
    <div class="tkm-triangle-content">
        <div class="triangle-content" id="triangleSummary"></div>
        <div id="triangleCustomstr"></div>
    </div>
</div>
<script src="/js/jsMobile.js"></script>
<!--our js file-->
<script src="/js/jquery.min.js"></script>
<script src="/js/pc/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/MathPanel/mathquill-0.9.1/mathquill.js"></script>
<script src="/js/ours/jsResize.js" type="text/javascript"></script>
<script src="/js/ours/myJS.js" type="text/javascript"></script>
<script src="/js/ours/mySVG.js" type="text/javascript"></script>
<script src="/js/ours/mySVGFx.js" type="text/javascript"></script>
<script src="/js/ours/analytic.js" type="text/javascript"></script>
<!--弹出框-->
<script src="/dist/sweetalert.min.js" type="text/javascript"></script>
<!-- 文本框 -->
<script src="/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="/js/pc/mathPanel.js"></script>
<script src="/js/pc/jquery.hotkeys.js"></script>
<script src="/js/pc/bootstrap-wysiwyg.js"></script>
<!-- we are pengpeng.js -->
<script src="/js/public.js"></script>
<script src="/js/pc/index.js"></script>
<script src="/js/pc/otherUser.js"></script>
<script src="/js/pc/rightBox.js"></script>
</body>
</html>
